{% extends "base.html" %}
{% load bootstrap5 %}
{% comment %} {% load static %} {% endcomment %}

<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Home{% endblock %}</title>
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>

<body>
  {% block content %}
  {% if user.is_authenticated %}
    <h1>Basketland</h1>

    <button type="button" class="btn btn-warning" onclick="location.href='{% url 'players' %}'">
      Player
    </button>

    <button type="button" class="btn btn-warning" onclick="location.href='{% url 'teams' %}'">
      Teams
    </button>

    <p><a href="{% url 'logout' %}">Se déconnecter</a></p>
  {% else %}
    <p>Tu n'es pas connecté. Tu ne peux pas continuer sans être connecté.</p>
    <a href="{% url 'login' %}">Se connecter</a>
    <a href="{% url 'signup' %}">S'inscrire</a>
  {% endif %}

  {% endblock %}
</body>
</html>