{% extends "base.html" %}
{% load bootstrap5 %}

<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}More about teams{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    {% block content %}
    {% if user.is_authenticated %}

    <h1>Basketland</h1>
    <br>

    <br><br>

    <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
            <div class="card text-white bg-primary border-light mb-3" style="width: 18rem;">
                <div class="card-body">
                  <strong>Abbréviation:</strong> {{ teamData.abbreviation }}<br>
                  <strong>Ville:</strong> {{ teamData.city }}<br>
                  <strong>Conférence:</strong> {{ teamData.conference }}<br>
                  <strong>Division:</strong> {{ teamData.division }}<br>
                  <strong>Nom complet:</strong> {{ teamData.full_name }}<br>
                  <strong>Nom:</strong> {{ teamData.name }}<br>
                </div>
              </div>
              <br>  
        </div>
  </div>
  <div class="row">
    {% for player in playersData.data %}
        {% comment %} <p> {{ player.team.id }} W {{ teamData.id }} </p> {% endcomment %}
        {% if player.team.id == teamData.id %}
            <div class="col-sm-2">
                <div class="card text-white bg-primary border-light mb-3" style="width: 12rem;">
                    <div class="card-body">
                    <strong>Prénom:</strong> {{ player.first_name }}<br>
                    <strong>Nom:</strong> {{ player.last_name }}
                    <button type="button" class="btn btn-warning" onclick="location.href='{% url 'moreAboutPlayers' player.id %}'">
                        More information
                    </button>
                    </div>
                </div>
            <br>  
            </div>
        {% else %}
            
        {% endif %}
    {% endfor %}
  </div>

  <p><a href="{% url 'logout' %}">Se déconnecter</a></p>
  {% else %}
    <p>Tu n'es pas connecté. Tu ne peux pas continuer sans être connecté.</p>
    <a href="{% url 'login' %}">Se connecter</a>
    <a href="{% url 'signup' %}">S'inscrire</a>
  {% endif %}

  {% endblock %}
</body>
</html>