{% extends "base.html" %}
{% load bootstrap5 %}

<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Plus concernant le match{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    {% block content %}
    {% if user.is_authenticated %}

    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
          <h1>Basketland</h1>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
  
      
      <br>
  
      <div class="row">
        <div class="col-sm-4">
        </div>
  
        <div class="col-sm-4">
          <button type="button" class="btn btn-light" onclick="location.href='{% url 'players' %}'">
            Joueurs
          </button>
          <button type="button" class="btn btn-light" onclick="location.href='{% url 'teams' %}'">
            Equipes
          </button>
          <button type="button" class="btn btn-light" onclick="location.href='{% url 'games' %}'">
            Matchs
          </button>
        </div>
  
        <div class="col-sm-4">
        </div>
      </div>

    <br><br>

    <div class="row">
        <div class="col-sm-3">
          <div class="card text-white bg-primary border-light mb-3" style="width: 16rem;">
            <div class="card-body">
              <strong>Date:</strong> {{ gameData.date }}<br>
              <strong>Score équipe - domicile:</strong> {{ gameData.home_team_score }}<br>
              <strong>Score équipe - visiteur:</strong> {{ gameData.visitor_team_score }}<br>
              <strong>Saison:</strong> {{ gameData.season }}<br>
              <strong>Période:</strong> {{ gameData.period }}<br>
              <strong>Status:</strong> {{ gameData.status }}<br>
              <strong>Temps:</strong> {{ gameData.time }}<br>
            </div>
          </div>
          <br>  
        </div>
        <div class="col-sm-3">
            <div class="col-sm-3">
                <div class="card text-white bg-primary border-light mb-3" style="width: 16rem;">
                    <div class="card-body">
                        <strong>Equipe:</strong> {{ gameData.home_team.full_name }}
                        <button type="button" class="btn btn-warning" onclick="location.href='{% url 'moreAboutTeams' gameData.home_team.id %}'">
                            Plus d'informations
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-white bg-primary border-light mb-3" style="width: 16rem;">
                <div class="card-body">
                    <strong>Equipe:</strong> {{ gameData.visitor_team.full_name }}
                    <button type="button" class="btn btn-warning" onclick="location.href='{% url 'moreAboutTeams' gameData.visitor_team.id %}'">
                        Plus d'informations
                    </button>
                </div>
            </div>
        </div>
  </div>

  <div class="row">
    <button type="button" class="btn btn-danger" onclick="location.href='{% url 'logout' %}'">
      Se déconnecter
    </button>
  </div>

  {% else %}
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
        <h3 style="text-align: center;">Tu n'es pas connecté. <br> Tu ne peux pas continuer sans être connecté.</h3>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <button type="button" class="btn btn-info" onclick="location.href='{% url 'login' %}'">Se connexter</button>
    <button type="button" class="btn btn-info" onclick="location.href='{% url 'signup' %}'">S'inscrire</button>
  {% endif %}

  {% endblock %}
</body>
</html>