{% extends "base.html" %}
{% load bootstrap5 %}

<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Plus concernant l'équipe{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    {% block content %}
    {% if user.is_authenticated %}

    <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        <h1>Basketland</h1>
      </div>
      <div class="col-sm-4">
      </div>
    </div>

    
    <br>

    <div class="row">
      <div class="col-sm-4">
      </div>

      <div class="col-sm-4">
        <button type="button" class="btn btn-light" onclick="location.href='{% url 'players' %}'">
          Joueurs
        </button>
        <button type="button" class="btn btn-light" onclick="location.href='{% url 'teams' %}'">
          Equipes
        </button>
        <button type="button" class="btn btn-light" onclick="location.href='{% url 'games' %}'">
          Matchs
        </button>
      </div>

      <div class="col-sm-4">
      </div>
    </div>

    <br><br>

    <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
            <div class="card text-white bg-primary border-light mb-3" style="width: 18rem;">
                <div class="card-body">
                  <strong>Abbréviation:</strong> {{ teamData.abbreviation }}<br>
                  <strong>Ville:</strong> {{ teamData.city }}<br>
                  <strong>Conférence:</strong> {{ teamData.conference }}<br>
                  <strong>Division:</strong> {{ teamData.division }}<br>
                  <strong>Nom complet:</strong> {{ teamData.full_name }}<br>
                  <strong>Nom:</strong> {{ teamData.name }}<br>
                </div>
              </div>
              <br>  
        </div>
  </div>
  <div class="row">
    {% for player in playersData.data %}
        {% if player.team.id == teamData.id %}
            <div class="col-sm-2">
                <div class="card text-white bg-primary border-light mb-3" style="width: 12rem;">
                    <div class="card-body">
                    <strong>Prénom:</strong> {{ player.first_name }}<br>
                    <strong>Nom:</strong> {{ player.last_name }}
                    <button type="button" class="btn btn-warning" onclick="location.href='{% url 'moreAboutPlayers' player.id %}'">
                        Plus d'informations
                    </button>
                    </div>
                </div>
            <br>  
            </div>
        {% else %}
            
        {% endif %}
    {% endfor %}
  </div>

  <div class="row">
    <button type="button" class="btn btn-danger" onclick="location.href='{% url 'logout' %}'">
      Se déconnecter
    </button>
  </div>

  {% else %}
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <h3 style="text-align: center;">Tu n'es pas connecté. <br> Tu ne peux pas continuer sans être connecté.</h3>
      </div>
      <div class="col-sm-4"></div>
    </div>
    <button type="button" class="btn btn-info" onclick="location.href='{% url 'login' %}'">Se connexter</button>
    <button type="button" class="btn btn-info" onclick="location.href='{% url 'signup' %}'">S'inscrire</button>
  {% endif %}

  {% endblock %}
</body>
</html>