{% extends "base.html" %}
{% load bootstrap5 %}

<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}More about players{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    {% block content %}
    {% if user.is_authenticated %}

    <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        <h1>Basketland</h1>
      </div>
      <div class="col-sm-4">
      </div>
    </div>

    
    <br>

    <div class="row">
      <div class="col-sm-4">
      </div>

      <div class="col-sm-4">
        <button type="button" class="btn btn-light" onclick="location.href='{% url 'players' %}'">
          Player
        </button>
        <button type="button" class="btn btn-light" onclick="location.href='{% url 'teams' %}'">
          Teams
        </button>
        <button type="button" class="btn btn-light" onclick="location.href='{% url 'games' %}'">
          Games
        </button>
      </div>

      <div class="col-sm-4">
      </div>
    </div>

    <br><br>

    <div class="row">
        <div class="col-sm-3">
          <div class="card text-white bg-primary border-light mb-3" style="width: 16rem;">
            <div class="card-body">
              <strong>Prénom:</strong> {{ playerData.first_name }}<br>
              <strong>Nom:</strong> {{ playerData.last_name }}<br>
              <strong>Position:</strong> {{ playerData.position }}<br>
              <strong>Taille (en pieds):</strong> {{ playerData.height_feet }}<br>
              <strong>Taille (en pouces):</strong> {{ playerData.height_inches }}<br>
              <strong>Poids (en livres):</strong> {{ playerData.weight_pounds }}<br>
            </div>
          </div>
          <br>  
        </div>
        <div class="col-sm-3">
            <div class="card text-white bg-primary border-light mb-3" style="width: 16rem;">
                <div class="card-body">
                    <strong>Equipe:</strong> {{ playerData.team.full_name }}
                    <button type="button" class="btn btn-warning" onclick="location.href='{% url 'moreAboutTeams' playerData.team.id %}'">
                        More information
                    </button>
                </div>
            </div>
        </div>
  </div>

  <div class="row">
    <button type="button" class="btn btn-danger" onclick="location.href='{% url 'logout' %}'">
      Se déconnecter
    </button>
  </div>

  {% else %}
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <h3 style="text-align: center;">Tu n'es pas connecté. <br> Tu ne peux pas continuer sans être connecté.</h3>
      </div>
      <div class="col-sm-4"></div>
    </div>
    <button type="button" class="btn btn-info" onclick="location.href='{% url 'login' %}'">Se connexter</button>
    <button type="button" class="btn btn-info" onclick="location.href='{% url 'signup' %}'">S'inscrire</button>
  {% endif %}

  {% endblock %}
</body>
</html>